  body{
    display: flex;
    margin: 0 0 38em 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 20vh;
    justify-content: center;
    /*align-items: center;*/
    background-color: whitesmoke;
  }
  .container3{
    position: relative;
    margin-top: 20px;
  }
  .top-section{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    position: fixed;
    background-color: whitesmoke;
    top: 0;
    width: 420px;
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(237, 237, 237);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .arrow{
    margin-bottom: 30px;
    cursor: pointer;
  }
  .arrow::after{
    content: '';
    width: 15px;
    height: 2px;
    background-color: black;
    position: absolute;
    transform: rotate(45deg);
    top: 30px;
  }
  .arrow::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: black;
    transform: rotate(-45deg);
  }
  .examine{
    font-size: 1.6em;
    font-weight: bold;
    color: rgb(79, 69, 69);
  }
  .select{
    font-size: 20px;
    color: rgb(79, 69, 69);
  }
  .body-cont{
    margin-top: 8em;
  }
  .date{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    margin-bottom: 20px;
  }
  .date div:first-child,.cell div:first-child{
    font-size: 15px;
  }
  .date div:last-child,.cell div:nth-child(2){
    font-size: 13px;
  }
  .cells{
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 20px;
    row-gap: 10px;
  }
  .cell{
    background-color: white;
    padding: 10px;
    padding-right: 40px;
    width: 150px;
    border-radius: 5px;
    line-height: 20px;
  }
  .cell div:nth-child(3){
    font-size: 18px;
    font-weight: bold;
  }
  .sub-cont{
    margin-top: 30px;
  }
  .subjects{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .subjects.lang span:first-child,
  .subjects.lang span:nth-child(2),
  .subjects.lang span:last-child{
    cursor: pointer;
  }
  /* lang gives it color*/
  .eng,
  .math,
  .gene{
    border-bottom: 3px solid rgb(205, 25, 205);
    color: rgb(205, 25, 205);
    font-weight: bold;
    padding: 10px;
  }
  .subj-name-cont{
    margin-top: 25px;
  }
  .subjects.name{
    padding: 10px 0px;
    border-bottom: 1px solid rgb(198, 196, 196);
  }